.pkmn-type.type-normal {
  background-color: #A8A878;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-normal:hover {
    background-color: #bcbb97; }

.pkmn-type.type-fire {
  background-color: #F08030;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-fire:hover {
    background-color: #f39b60; }

.pkmn-type.type-water {
  background-color: #6890F0;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-water:hover {
    background-color: #96b3f5; }

.pkmn-type.type-electric {
  background-color: #F8D030;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-electric:hover {
    background-color: #fadb61; }

.pkmn-type.type-grass {
  background-color: #78C850;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-grass:hover {
    background-color: #96d477; }

.pkmn-type.type-ice {
  background-color: #98D8D8;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-ice:hover {
    background-color: #bde6e6; }

.pkmn-type.type-fighting {
  background-color: #C03028;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-fighting:hover {
    background-color: #d84b43; }

.pkmn-type.type-poison {
  background-color: #A040A0;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-poison:hover {
    background-color: #bc57bc; }

.pkmn-type.type-ground {
  background-color: #E0C068;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-ground:hover {
    background-color: #e9d292; }

.pkmn-type.type-flying {
  background-color: #A890F0;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-flying:hover {
    background-color: #cabdf6; }

.pkmn-type.type-psychic {
  background-color: #F85888;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-psychic:hover {
    background-color: #fa89ab; }

.pkmn-type.type-bug {
  background-color: #A8B820;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-bug:hover {
    background-color: #cadb30; }

.pkmn-type.type-rock {
  background-color: #B8A038;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-rock:hover {
    background-color: #ccb557; }

.pkmn-type.type-ghost {
  background-color: #705898;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-ghost:hover {
    background-color: #8a74af; }

.pkmn-type.type-dragon {
  background-color: #7038F8;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-dragon:hover {
    background-color: #9269fa; }

.pkmn-type.type-dark {
  background-color: #705848;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-dark:hover {
    background-color: #8f705c; }

.pkmn-type.type-steel {
  background-color: #B8B8D0;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-steel:hover {
    background-color: #d7d7e4; }

.pkmn-type.type-fairy {
  background-color: #EE99AC;
  -webkit-transition: background-color 0.1s ease-in-out;
          transition: background-color 0.1s ease-in-out; }
  .pkmn-type.type-fairy:hover {
    background-color: #f5c5d0; }

.pkmn-types.btn-group {
  width: 100%; }
.pkmn-types span {
  text-shadow: #000 1px 1px 1px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
  float: left; }
  .pkmn-types span:hover {
    color: white; }
.pkmn-types.tc2 span {
  width: 50%; }

.cf:before, #sidebar:before, #pokemon-info:before, .cf:after, #sidebar:after, #pokemon-info:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.cf:after, #sidebar:after, #pokemon-info:after {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

html, body {
  height: 100%;
  max-height: 100%; }

body {
  padding-top: 50px; }

#main {
  max-height: 100%;
  height: 100%; }

#sidebar, #pokemon-info {
  height: 100%; }

#sidebar {
  width: 450px;
  float: left;
  background-color: #FAFAFA;
  position: relative; }
  #sidebar .nav {
    margin-bottom: 15px; }
  #sidebar .list-group {
    margin: 15px;
    height: 100%; }
    #sidebar .list-group li {
      cursor: pointer;
      -webkit-transition: background-color 0.1s ease;
              transition: background-color 0.1s ease; }
      #sidebar .list-group li:hover {
        background-color: #EFEFEF; }

#pokemon-list {
  height: 100%;
  overflow: auto; }
  #pokemon-list tr {
    cursor: pointer; }
    #pokemon-list tr:hover {
      background-color: #DDD; }
  #pokemon-list td.pokemon-name {
    position: relative; }
    #pokemon-list td.pokemon-name .pki {
      float: left;
      position: relative;
      top: -9px;
      margin-bottom: -9px;
      margin-right: 0.5em; }

#pokemon-info {
  padding: 15px;
  float: left;
  background-color: #DDD;
  width: 100%;
  padding-left: 465px;
  margin-left: -450px;
  overflow: auto; }
